h1 {
    margin-top: 8vh;
    text-shadow: 0px 2px 1px #35cf66;
    text-align: center;
}

ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

li img{
    max-width: 90px;
}