<h1>Contact</h1>

<ul id="links-list">
    <li><a href="https://www.linkedin.com/in/gabriel-lombardi-9aaa16154/"><img src="../../assets/img/linkedin.svg" alt="LinkedIn"></a></li>
    <li><a href="https://github.com/lombardi-g"><img src="../../assets/img/github.png" alt="Github"></a></li>
    <li><a href="mailto:gabriellomba@gmail.com"><img src="../../assets/img/gmail.png" alt="e-mail"></a></li>
    <li><a href="../../assets/CV EN Gabriel Lombardi - 2023.pdf"><img src="../../assets/img/cv.png" alt="CV"></a></li>
</ul>