<h1>Skills</h1>
<span id="skills-header">Click to see certification</span>
<div id="contents">
    <div>
        <h2>Front-end
        <ul>
            <li id="angular-skill">
                <a href="https://www.dio.me/certificate/EC5C6F6F" target="_blank">
                <img src="https://raw.githubusercontent.com/dheereshagrwal/colored-icons/34a21692a9165ff0b1829419bd17b1e31692dd81/svg/angular.svg" alt="Angular" />
                </a>
            </li>
            <li id="html-skill">
                <a href="https://www.dio.me/certificate/385D32FC" target="_blank">
                <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/html5/html5-original.svg" alt="HTML">
                </a>
            </li>
            <li id="css-skill">
                <a href="https://www.dio.me/certificate/385D32FC" target="_blank">
                <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/css3/css3-original.svg" alt="CSS">
                </a>
            </li>
            <li id="javascript-skill">
                <a href="https://www.betrybe.com/badges/EA0802B05F2A" target="_blank">
                <img src="https://raw.githubusercontent.com/gilbarbara/logos/bea0759cf5fbfaad7e92e6032ff9481dd82de561/logos/javascript.svg"
                style="border-radius: 8px;" alt="Javascript">
                </a>
            </li>
            <li id="typescript-skill">
                <a href="https://www.dio.me/certificate/98C98094/" target="_blank">
                <img src="https://raw.githubusercontent.com/gilbarbara/logos/bea0759cf5fbfaad7e92e6032ff9481dd82de561/logos/typescript-icon.svg" alt="Typescript">
                </a>
            </li>
        </ul>
        </h2>
    </div>

    <div>
        <h2>Data Analytics
        <ul>
            <li id="python-skill">
                <a href="https://www.udemy.com/certificate/UC-aefcf90b-c7b5-4af7-825a-de8861f778fc/" target="_blank">
                <img src="https://raw.githubusercontent.com/gilbarbara/logos/bea0759cf5fbfaad7e92e6032ff9481dd82de561/logos/python.svg" alt="Python">
                </a>
            </li>
            <li id="powerbi-skill">
                <a href="https://www.udemy.com/certificate/UC-da224f78-4df9-470e-9bb3-5a64caa2be3f/" target="_blank">
                <img src="https://raw.githubusercontent.com/microsoft/PowerBI-Icons/main/SVG/Power-BI.svg"
                style="height: 70px !important;" alt="Power BI">
                </a>
            </li>
            <li id="excel-skill">
                <a href="https://www.linkedin.com/in/gabriel-lombardi-9aaa16154/details/skills/" target="_blank">
                <img src="https://raw.githubusercontent.com/sandroasp/Microsoft-Integration-and-Azure-Stencils-Pack-for-Visio/79229e56a2f8d5e49db1df89d517848b9cfc4610/Office%20365/SVG/Excel.svg" alt="Excel">
                </a>
            </li>
            <li id="project-skill">
                <a href="https://www.linkedin.com/in/gabriel-lombardi-9aaa16154/details/skills/" target="_blank">
                <img src="https://raw.githubusercontent.com/sandroasp/Microsoft-Integration-and-Azure-Stencils-Pack-for-Visio/79229e56a2f8d5e49db1df89d517848b9cfc4610/Office%20365/SVG/Project.svg" alt="MS Project">
                </a>
            </li>
            <li id="sql-skill">
                <a href="https://www.dio.me/certificate/C8726AB4/" target="_blank">
                <img src="https://cdn-icons-png.flaticon.com/512/4492/4492311.png" alt="VS Code">
                </a>
            </li>
        </ul>
        </h2>
    </div>
    
    <div>
        <h2>Others
        <ul>
            <li id="software-skill">
                <a href="https://moocs.ggte.unicamp.br/certificate/bxGipJNj" target="_blank">
                <img src="../../assets/img/collaboration.png" alt="MOOCS Unicamp">
                </a>
            </li>
            <li id="po-skill">
                <a href="https://drive.google.com/file/d/15iYijnnm0ONUVITnuVbG7UOFvUJl1jr-" target="_blank">
                <img src="../../assets/img/management.png" alt="PM">
                </a>
            </li>
            <li id="git-skill">
                <a href="https://www.dio.me/certificate/F1B25F65/" target="_blank">
                <img src="https://raw.githubusercontent.com/gilbarbara/logos/bea0759cf5fbfaad7e92e6032ff9481dd82de561/logos/git-icon.svg" alt="Git">
                </a>
            </li>
            <li id="github-skill">
                <a href="https://github.com/lombardi-g/" target="_blank">
                <img src="../../assets/img/github.png"
                style="border: 1px solid #fbfbfb; border-radius: 5em;" alt="GitHub">
                </a>
            </li>
            <li id="aws-skill">
                <a href="https://www.dio.me/certificate/B845AA70/" target="_blank">
                <img src="https://raw.githubusercontent.com/dheereshagrwal/colored-icons/34a21692a9165ff0b1829419bd17b1e31692dd81/svg/aws-light.svg"
                style="height: 70px !important;" alt="AWS">
                </a>
            </li>
        </ul>
        </h2>
    </div>
</div>
