<h1>Skills</h1>
<div id="contents">
    <div>
        <h2>Front-end
        <ul>
            <li>
                <img src="https://github.com/dheereshagrwal/colored-icons/blob/master/svg/angular.svg" alt="Angular">
            </li>
            <li>
                <img src="" alt="">
            </li>
            <li>
                <img src="" alt="">
            </li>
            <li>
                <img src="" alt="">
            </li>
            <li>
                <img src="" alt="">
            </li>
        </ul>
        </h2>
    </div>

    <div>
        <h2>Data Analytics
        <ul>
            <li>
                <img src="" alt="">
            </li>
            <li>
                <img src="" alt="">
            </li>
            <li>
                <img src="" alt="">
            </li>
            <li>
                <img src="" alt="">
            </li>
            <li>
                <img src="" alt="">
            </li>
        </ul>
        </h2>
    </div>
    
    <div>
        <h2>Others
        <ul>
            <li>
                <img src="" alt="">
            </li>
            <li>
                <img src="" alt="">
            </li>
            <li>
                <img src="" alt="">
            </li>
            <li>
                <img src="" alt="">
            </li>
            <li>
                <img src="" alt="">
            </li>
        </ul>
        </h2>
    </div>
</div>
