:host{
    font-size: 3.5rem;
    font-weight: 300;
    text-align: center;
}
p{
    margin-bottom: 0px;
    text-shadow: 1px 2px 1px #35cf66;
    /* flex-wrap: wrap;
    justify-content: center; */
}