<h1>Experience</h1>
<span id="experience-header">Click to see LinkedIn page</span>
<div id="companies">
    <a href="https://www.linkedin.com/company/mrvengenharia/" target="_blank">
    <div class="company" id="mrv">
        <img src="../../assets/img/mrv-logo.png" alt="MRV">
        <!-- <p>Engineering, consulting, product management</p> -->
    </div>
    </a>

    <a href="https://www.linkedin.com/company/figueirense-futebol-clube/" target="_blank">
    <div class="company" id="figueirense">
        <img src="../../assets/img/Figueirense.png" alt="Figueirense">
        <!-- <p>Data analytics, process mapping, project development</p> -->
    </div>
    </a>
    <a href="https://www.linkedin.com/company/ultragaz/" target="_blank">
    <div class="company" id="ultragaz">
        <img src="../../assets/img/ug-cropped-favicon.png" alt="Ultragaz">
        <!-- <p>Data analytics, process mapping, project development</p> -->
    </div>
    </a>
    <a href="https://www.linkedin.com/company/atlassian" target="_blank">
    <div class="company" id="atlassian">
        <img src="../../assets/img/atlassian-icon.png" alt="Atlassian">
    </div>
    </a>
</div>
