:host{
    text-align: center;
}

h1{
    text-shadow: 0px 2px 1px #35cf66;
    margin-top: 8vh;
}

#companies {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#companies img{
    max-width: 11vw;
    /* background-size: cover; */
    object-fit: contain;
}

#experience-header{
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
}
/* 
p{
    margin-bottom: auto;
} */