#double-arrow {
    /* position: absolute; */
    font-family: 'Arimo', sans-serif;
    /* width: 100%; */
    transform: rotate(-90deg);
    /* padding-bottom: 100px; */
    font-size: 70px;
    /* animation: grow 8s infinite ease; */
    text-shadow: 0px 1px 1px #35cf56;
    /* z-index: -999; */
  }
/* 
  @keyframes grow {
    from {
      bottom: 15px;
    }
    45% {
      bottom: 15px;
    }
    50% {
      bottom: 5px;
    }
    55% {
      bottom: 15px;
    }
    100% {
      bottom: 15px;
    }
  } */