<div id="all-logos">
    <p id="texts">
        <img src="https://readme-typing-svg.demolab.com?font=Iceland&pause=1000&color=FFFFFF&random=false&width=225&separator=%3C&lines=printf('Hello%2C+World!');%3Cwhile(!succeed)+%7B+try();+%7D%3CIt's+not+a+bug%2C+it's+a+feature." alt="Typing SVG" />
    </p>
    
    <div class="chart">
        <ul class="bars">
            <li><div class="bar" [style.height.%]="barInitialHeights(1)" [style.animation-duration]="barAnimationDuration(1)"></div></li>
            <li><div class="bar" [style.height.%]="barInitialHeights(2)" [style.animation-duration]="barAnimationDuration(2)"></div></li>
            <li><div class="bar" [style.height.%]="barInitialHeights(3)" [style.animation-duration]="barAnimationDuration(3)"></div></li>
            <li><div class="bar" [style.height.%]="barInitialHeights(4)" [style.animation-duration]="barAnimationDuration(4)"></div></li>
            <li><div class="bar" [style.height.%]="barInitialHeights(5)" [style.animation-duration]="barAnimationDuration(5)"></div></li>
        </ul>
    </div>
    
    <div id="pie-chart">
        <div id="part1" class="circle animate"></div>
        <div id="part2" class="circle animate"></div>
        <div id="part3" class="circle animate"></div>
        <div id="part4" class="circle animate"></div>
        <div id="part5" class="circle animate"></div>
        <div id="part6" class="circle animate"></div>
      </div>     
</div>