<div class="chart">
    <ul class="bars">
        <li><div class="bar" [style.height.%]="barInitialHeights(1)" [style.animation-duration]="barAnimationDuration(1)"></div></li>
        <li><div class="bar" [style.height.%]="barInitialHeights(2)" [style.animation-duration]="barAnimationDuration(2)"></div></li>
        <li><div class="bar" [style.height.%]="barInitialHeights(3)" [style.animation-duration]="barAnimationDuration(3)"></div></li>
        <li><div class="bar" [style.height.%]="barInitialHeights(4)" [style.animation-duration]="barAnimationDuration(4)"></div></li>
        <li><div class="bar" [style.height.%]="barInitialHeights(5)" [style.animation-duration]="barAnimationDuration(5)"></div></li>
    </ul>
</div>
