:host{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

app-title{
    margin-top: auto;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

app-logo-main{
    align-items: center;
    margin-block: auto;
}

app-sub-title{
    margin-bottom: auto;
}

app-arrows{
    margin-top: auto;
}