:host{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    height: 100vh;
}

app-title{
    margin-top: 5vh;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

app-logo-main{
    align-items: center;
    margin-block: auto;
}

@media (max-width: 730px){ app-logo-main{ margin-block: unset; margin-bottom: auto;}}

app-sub-title{
    margin-bottom: auto;
}

app-arrows{
    bottom: 0;
    position: absolute;
    left: 47%;
    align-items: center;
}
