:host{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    height: 100vh;
}

app-title{
    margin-top: 5vh;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

app-logo-main{
    /* display: flex;
    align-items: center;
    justify-content: center; */
    margin-top: auto;
    /* margin-bottom: auto; */
    /* margin-left: auto; */
    /* margin-right: auto; */
    /* padding-left: auto;  */
    /* padding-right: auto; */
    /* margin: auto unset; */
    /* margin-block: auto; */

}
app-sub-title{
    margin-top: auto;
    margin-bottom: auto;

}
app-arrows{
    bottom: 0;
    position: absolute;
    left: 47%;
    align-items: center;
}

@media (max-width: 720px){ 
app-logo-main{
    margin-top: unset;
}}

@media (max-height: 550px) {
    app-arrows{display: none;}
}

